* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1,
h2,
h4 {
    color: #222;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}


h2 {
    font-size: 46px;
    line-height: 54px;
}


h4 {
    font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


/* start nav */
.navbar {
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    /* position: sticky;
    z-index: 999;
    top: 0;
    left: 0; */
}

.nav-link {
    color: #333 !important;
    font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
    color: rgb(58, 170, 133) !important;
}

.nav-link.active,
.nav-link {
    position: relative;
}

.nav-link.active:after,
.nav-link:hover:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: #3aaa85;
    /* display: inline-block; */
    bottom: 3px;
    left: 10px;
}

.navbar-nav {
    margin-left: auto;
}

/* end nav */

/* start index page */
/* hero section */
#hero {
    background-image: url("/img/hero4.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}


#hero h1 {
    color: #3aaa85;
}

#hero button {
    background-image: url("/img/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    color: #3aaa85;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* hero section */


/* featur section */
#feature .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box h6 {
    margin-top: 7px;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 2;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}


#feature .feature-box:nth-child(2) h6 {
    background-color: #3aaa8579;
}

#feature .feature-box:nth-child(3) h6 {
    background-color: #518ec794;
}

#feature .feature-box:nth-child(4) h6 {
    background-color: #68c7788e;
}

#feature .feature-box:nth-child(5) h6 {
    background-color: #5bb19493;
}

#feature .feature-box:nth-child(6) h6 {
    background-color: #4799be93;
}


/* featur section */




/* featur-product section */

.feat-product .fe-pro-head {
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-container a {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: all .4s ease;
    position: relative;
    text-decoration: none;
}

.products-container a:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.products-container .product img {
    width: 100%;
    border-radius: 17px;
}


.products-container .product .des {
    text-align: start;
    padding: 15px 0;
}

.products-container .product .des span {
    color: #606063;
    font-size: 15px;
}

.products-container .product .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
}

.products-container .product .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.products-container .product .des .des-fot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-container .product .des .des-fot h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    margin: 0;
}

.products-container .product .des .des-fot span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    padding: 8px;
    line-height: 23px;
}

.products-container .product .des .des-fot span i {
    color: #088178;
    font-size: 15px;
}

/* featur-product section */


/* start banner */
.banner {
    color: #fff;
    background-image: url("/img/banner/b2.jpg");
    height: 350px;
    padding: 20px 0;
    background-size: cover;
}


.banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner h3 {
    font-size: 43px;
    margin: 26px 0px;
}

.banner button,
#sm-banner .banner-box button {
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}


.banner button::after,
#sm-banner .banner-box button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3aaa8556;
    position: absolute;
    top: -100%;
    left: 0;
    border-radius: 5px;
    transition: all .6s ease;
}

.banner button:hover::after,
#sm-banner .banner-box button:hover::after {
    top: 100%;
}

/* end banner */



/* satrt sm-banner */
#sm-banner .container-fluid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
    background-image: url("/img/banner/b17.jpg");
    width: 49%;
    height: 55vh;
    background-size: cover;
    background-position: center;
    border-radius: 50px 10px;
}

#sm-banner .banner-box:nth-child(2) {
    background-image: url("/img/banner/b10.jpg");
}

#sm-banner .banner-box h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner .banner-box h2 {
    color: #fff;
    font-size: 39px;
    font-weight: bold;
}

#sm-banner .banner-box span {
    color: #fff;
    font-size: 18px;
}

#sm-banner .banner-box button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

/* end sm-banner */



/* start banner-3 */
#banner-3 {
    margin: 80px 0;
}

#banner-3 .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#banner-3 .container-fluid .banner-3-box {
    padding: 20px;
    height: 250px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}


#banner-3 .container-fluid .banner-3-box:first-child {
    background-image: url('/img/banner/b4.jpg');
}


#banner-3 .container-fluid .banner-3-box:nth-child(2) {
    background-image: url('/img/banner/b7.jpg');
}

#banner-3 .container-fluid .banner-3-box:nth-child(3) {
    background-image: url('/img/banner/b18.jpg');
}

#banner-3 .container-fluid .banner-3-box h2 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#banner-3 .container-fluid .banner-3-box span {
    color: rgb(185 98 98);
    font-size: 19px;
    font-weight: bold;
}


/* start banner-3 */


/* start news */
#news {
    background: #aaa;
    height: 200px;
    background-image: url('/img/banner/b14.png');
    background-color: #041e42;
    margin: 80px 0;
}

#news .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#news .container .input {
    display: flex;
}

#news .container h2 {
    color: #fff;
}

#news .container p {
    font-size: 18px;
    color: #aaa
}

#news .container span {
    color: #c0c24b
}

#news .container .input input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    width: 380px;
}

#news .container .input button {
    outline: none;
    border: none;
    background: green;
    color: #fff;
    padding: 20px 30px;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
}


/* start news */

/* footer */
footer {
    margin: 80px 0;
}

footer .container .row div:first-child ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .container .row div:first-child ul li {
    margin: 0px 15px 0 0;
}

footer .container .row div:first-child ul li a {
    color: #525252;
}


footer .container h4 {
    font-size: 21px;
    margin-top: 14px;
    font-weight: bold;
}


footer .container .row div:nth-child(2) a,
footer .container .row div:nth-child(3) a {
    margin: 10px 0;
    display: block;
    text-decoration: none;
    color: #3c3a3a;
    font-size: 18px;
}

footer .container .row div:nth-child(4) .apps img {
    border: 2px solid #48bfb9;
    border-color: #48bfb9 #4f7e7b #48bfb9 #4f7e7b;
    border-radius: 5px;
}

/* footer */
/* end index page */